<!-- Seção de Contato -->
    <section id="contato" class="contact-section" data-aos="fade-up" data-title="Contato">
        <div class="container">
            <h2 class="text-center mb-5">Entre em Contato</h2>
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary w-100">Enviar</button>
                    </form>
                    {% if messages %}
                        <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>