{% extends 'home/base.html' %}
{% load static %}

{% block content %}
    <section id="jogar" class="features-section" data-aos="fade-up" data-title="Jogar">

        <div class="game-play">
            <!-- O containerNormal possui o atributo data-src com o URL do iframe -->
            <div class="iframe-containerNormal"
                data-src="{{ URL_JOGO }}">
                <div class="play-overlay">
                    <button class="play-button">Jogar</button>
                </div>
            </div>
        </div>
    </section>
    <script>
function createIframe(container) {
    const iframeSrc = container.getAttribute('data-src');
    const iframe = document.createElement('iframe');
    iframe.setAttribute('src', iframeSrc);
    iframe.setAttribute('width', '100%');
    iframe.setAttribute('height', '800px');
    container.appendChild(iframe);
    container.iframe = iframe; // Armazena a referência do iframe
}
document.querySelectorAll('.iframe-containerNormal').forEach(container => {
    // Evento de clique no overlay para criar o iframe
    const overlay = container.querySelector('.play-overlay');
    overlay.addEventListener('click', function () {
        createIframe(container);
        overlay.remove();
    });

    // Evento de mouseleave para focar no iframe
    container.addEventListener('mouseleave', function () {
        if (container.iframe) {
            container.iframe.focus();
        }
    });
});
    </script>
{% endblock %}